/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-image: url('../background/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.app {
    width: 100%;
    height: 100vh;
    /* background-image: url('../background/plant7.jpg'); */
    background-size: cover;
    background-position: center;
    position: relative;
    /* overflow: hidden; */
    z-index: 1000;  
    /* color: white; */
}

